<h1>products works!</h1>
<div class="card">
  <div class="card-head">Lorem, ipsum dolor. products 1</div>
  <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consectetur, facere nam quia fuga
    asperiores ipsum optio delectus rerum quam ducimus architecto, impedit sapiente illo. Possimus illum dolores dicta
    molestiae.</div>
</div>
<div class="card">
  <div class="card-head">Lorem, ipsum dolor. products 2</div>
  <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consectetur, facere nam quia fuga
    asperiores ipsum optio delectus rerum quam ducimus architecto, impedit sapiente illo. Possimus illum dolores dicta
    molestiae.</div>
</div>